.product {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // border: 2px solid red;
    gap: 10px;

    &-top {
        aspect-ratio: 5/7.5;
        overflow: hidden;
        &__img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-info {
        
        &-top {
            height: 4pc;

            &__name {
                max-height: 3pc;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            &__name,
            &__description {
                line-height: 1.5;
            }
        }
    
        &-mid {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__price {
            font-weight: 700;
            font-size: 1.1rem;
            margin: 12px 0;
            }

            &-stars {
                display: flex;
                gap: 3px;
                img {
                    width: 18px;
                }
                &__rating {
                    margin-left: 10px;
                }
            }
        }
    
       &-btm {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
    
            &__btn {
                padding: 10px 16px;
                background-color: white;
                border: 1px solid #cda04b;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;
                color: #cda04b;

                &:hover {
                    font-weight: bold;
                }
            }
    }
    }

}