<footer class="footer"> 
    <div class="footer-rrss">
        <!-- <p>Síguenos en</p> -->
        <ul class="footer-rrss-list">
            <li class="footer-rrss-list__item"><a href="https://github.com/albadvg" target="_blank"><img src="assets/img/github.png"/> Miau</a></li>
        </ul>
    </div>
    <div class="footer-btm">

        <div class="footer-btm-copy">

            <p class="footer-copy__txt">Copyright Volandeira </p>
            <img src="../../../assets/img/copy-icon.png" alt="" class="footer-btm-copy__icon">
            <p>{{copyYear}}</p>
        </div>

        <span>|</span>

        <div class="footer-btm-recursos">
            <span class="footer-btm-recursos__link" (click)="openResources">Recursos</span>

            <div class="footer-btm-recursos-modal">
                <h4>Tipografía del título:</h4>
                <span>
                    <a href="https://www.dafont.com/es/lumina.font?text=volandeira">Toni Studio</a>
                </span>
            
                <h4>Foto de la librería:</h4>
                <span>
                    <a href="https://www.pexels.com/es-es/foto/ciudad-creativo-libreria-mesa-3952095/">Ksenia Chernaya</a>
                </span>
            
                <h4>Icono octocat:</h4>
                <span>
                    <a href="https://www.flaticon.es/autores/laisa-islam-ani">Laisa Islam Ani</a>
                </span>
            </div>
        </div>
    </div>
</footer>