div {
    padding: 50px;

    .wrapper {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 40px auto;
        max-width: 800px;
        gap: 100px;

        .producto {
            width: 200px;
            padding: 0;
        }
    }
}