<div>
    <form [ngClass]="crudFeedback.msg ? 'hidden' : ''">
        <label for="nombre">Título</label>
        <input type="text" id="nombre" name="name" [(ngModel)]="formData.name" (input)="emitData()" required>
        
        <label for="author">Autoría</label>
        <input type="text" id="autor" name="author" [(ngModel)]="formData.author" (input)="emitData()" required>

        <label for="author">Descripción</label>
        <textarea id="autor" name="author"  [(ngModel)]="formData.description" (input)="emitData()" required></textarea>

        <label for="precio">Precio</label>
        <input type="number" id="precio" name="price" min="0" [(ngModel)]="formData.price"  (input)="emitData()" required>
        
        <label for="imagen">Ruta de la imagen</label>
        <input type="text" id="imagen" name="image" [(ngModel)]="formData.image" (input)="emitData()" required>
        
        <label for="opiniones">opiniones</label>
        <input type="number" id="opiniones" name="stars"  max="5" min="0" [(ngModel)]="formData.stars" (input)="emitData()" required>
        
        <div>
            @if(editionMode === true) {
                <button (click)="updateProduct()">Actualizar</button>
                <button (click)="deleteProduct()">Eliminar</button>
            } @else {
                <button (click)="saveProduct()">Guardar</button>
            }
        </div>

    </form>

    <div [ngClass]="crudFeedback.msg ? '' : 'hidden'">
        <h4>{{crudFeedback.msg}}</h4>
        <button (click)="resetEdition()" routerLink="/catalogo" >Volver</button>
    </div>
</div>
