@font-face {
    font-family: 'Lumina';
    src: url('./assets/fonts/LUMINA.ttf');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
